@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    max-height: 1000000px;
    margin: 0;
    scroll-behavior: smooth;
}

#header1, #header2 {
  display: none;
}

#nav1, #nav2 {
  display: none;
}

#mobile-header {
  display: flex;
  flex-direction: flex-start;
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: #fff;
}

#hamburger {
  padding: 3% 90% 3% 3%;
  width: 5%;
  height: 5%;
}

.mobile-main {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* About Page */
.about-page {
    display: flex;
    flex-direction: column;
    padding: 15% 10%;
    font-family: 'Lato',sans-serif;
    background-image: linear-gradient(rgba(201, 201, 201, 0.9), rgba(204, 204, 204, 0.7)),url('./sources/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .aboutintro1, .aboutintro2 {
    color: #ec5242;
  }
  
  .about-paragraph {
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: 0;
  }
  
  p {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    color: #292929;
  }
  
  .mail {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #292929;
  }
  
  .conference-info {
    display: flex;
    flex-direction: column;
    padding: 10% 15%;
    gap: 24px;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }
  
  .inner-title {
    font-weight: 400;
    font-size: 22px;
  }
  
  .about-logo {
   margin-left: 30%;
   width: 100px;
   height: 100px;
  }
  
  .inner-title2 {
    font-weight: 400;
    font-size: 22px;
    color: #292929;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-color: #ec5242;
    text-underline-offset: 10px;
  }
  
  .past-conf {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    gap: 10%;
  }
  
  .first-conf, .second-conf {
    position: relative;
    background: linear-gradient(rgba(255, 188, 4, 0.7), rgba(255, 176, 7, 0.7));
  
    /* text-align: center; */
    /* padding: 0;
    gap: 0; */
  }
  
  .first-conf-img, .second-conf-img {
    width: 100%;
    height: 100%; 
  }
  
  .inner-content {
    position: absolute;
    bottom: 30%;
    right: 20%;
    color: white;
    padding: 5%;
  }
  
  .pastconf1-title, .pastconf2-title {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  }
  
  .pastconf-paragraph1, .pastconf-paragraph2 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #fff ;
  }
  
  #footer1 {
    background-color: #292929;
    height: 50%;
  }
  
  .sponsors-title {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 5%;
    height: 70px;
    color: #fff;
    text-decoration-line: underline;
    text-decoration-color: #ec5242;
    text-underline-offset: 10px;
  }
  
  .sponsors-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 10%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #6b6b6b;
    list-style: none;
  }
  
  #footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 10% 10%;
  }
  
  .footer2-logo {
    padding-left: 5%;
    width: 64px;
    height: 64px;
  }
  
  .footer2-p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-align: left;
    width: 80%;
  }

  @media screen and (min-width: 768px) {

  }